* {
            padding: 0px;
            margin: 0px;
        }
        
        .container-fluid {
            width: 100%;
            padding-bottom: 10%;
            background-color: lightskyblue;
        }
        
        /*.body1 {
            width: 100%;
            background-color: white;
        }*/
        #body1 {
    background: #673AB7;
    padding-top: 5%;
    padding-bottom: 7%;
}
        
        .body2 {
            width: 100%;
            padding-bottom: 10%;
            background-color: lightskyblue;
        }
        
        .body3 {
            width: 100%;
            padding-bottom: 2%;
            background-color: white;
        }
        
        #footer {
            width: 100%;
            height: 215px;
            background-color: teal;
        }
        
        .logo {
            margin: auto;
            width: 47%;
        }
        
        .menu {
            margin: auto;
            width: 75%;
            padding-top: 5%;
            padding-bottom: 7%;
            text-align: center;
        }
        
        a {
            font-size: 23px;
            font-family: sans-serif;
            text-decoration: none;
            margin: 30px;
            color: white;
        }
        
        img.img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }
        
        /*.col-md-6 {
            display: inline-block;
            width: 49%;
            height: auto;
        }*/
        
        h1 {
            font-family: helvetica;
            text-align: center;
            padding-top: 3%;
            color: white;
        }
        
        h2 {
            font-weight: 100;
            text-align: center;
            color: white;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            
        }
        
        h3 {
            font-style: italic;
            font-weight: bolder;
            font-size: 26px;
            padding: 0px 10%;
            margin-top: 5%;
            color: white;
        }
        
        p {
            font-family: sans-serif;
            padding: 0px 10%;
            margin-top: 2%;
            
            font-size: 20px;
            color: white;
        }
        
        /*#ai {
            width: 15%;
        }
        
        #psd {
            width: 15%;
        }*/
        
        .title {
            font-size: 50px;
            font-family: helvetica;
            width: 25%;
            margin: auto;
            padding-top: 6%;
            color: white;
            text-align: center;
        }
        
        .skill-1 {
            display: inline;
            margin: 22%;
        }
        
        .skill-2 {
            display: inline;
            margin: 1%;
        }
        
#skill-icon {
    width: 25%;
    display: inline;
    padding-left: 4%;
    padding-right: 4%;
}
        
        .icon {
            width: 100%;
            padding-top: 5%;
        }
        
        #website {
            width: 55%;
            margin-left: 10%;
            box-shadow: 15px 15px 20px grey;
        }
        
        #behance {
            width: 55%;
            margin-left: 30%;
            padding-top: 30px;
            box-shadow: -10px 15px 20px grey;
        }
        
        .title-port {
            font-size: 50px;
            font-family: helvetica;
            width: 18%;
            margin: auto;
            padding-top: 80px;
            padding-bottom: 50px;
            text-align: center;
        }
        
        #name {
            font-family: arial;
            font-size: 20px;
            color: white;
            letter-spacing: 10px;
        }
        
        #email {
            font-family: arial;
            font-size: 18px;
            color: white;
        }
        
        #number {
            font-family: arial;
            font-size: 18px;
            color: white;
            padding-top: 5%;
        }
        
        #facebook {
            font-family: arial;
            font-size: 18px;
            color: white;
        }
        
        #linkedin {
            font-family: arial;
            font-size: 18px;
            color: white;
        }
        
        .contact {
            width: 30%;
            display: inline-block;
            margin: 5% 15%;
            margin-right: 4%;
        }
        
        .social {
            display: inline-block;
            width: 40%;
            margin: 5% 5%;
        }
        #profileImage {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


        /*tablet /ipad */
@media only screen and (min-width: 768px) and (max-width: 960px) {

.logo {
    margin: auto;
    width: 57%;
}
a {
    font-size: 26px;
    }
    #skill-icon {
    width: 30%;
    margin: 0px 14px;
    display: inline;
    }
    #name {
    letter-spacing: 5px;
    }
    #behance {
    width: 60%;
    margin-left: 30%;
    }
    #website {
    width: 60%;
    margin-left: 5%;
    }
            #profileImage {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
}






